@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);

  --color-primary: #dc2626;
  --color-primary-dark: #b91c1c;

  --color-secondary: #198754;
  --color-accent: #20c997;
  --color-background: #f8f9fa;
  --color-text-primary: #212529;
  --color-text-secondary: #6c757d;

}


/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */
/* 
input,
textarea {
  color: #000;
  background: #fff;
} */

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}